/* This CSS file styles the circles and the rectangular box in the CircleStyleApp. */

.main-hbox {
    -fx-padding: 10;
    -fx-spacing: 20;
    -fx-alignment: center;
}

.cell-stack {
    -fx-pref-width: 80;
    -fx-pref-height: 200;
}

.plaincircle {
    -fx-fill: white;
    -fx-stroke: black;
}

.circleborder {
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
}

.border {
    -fx-border-color: black;
    -fx-border-width: 5;
}

#redcircle {
    -fx-fill: red;
    -fx-stroke: red;
}

#greencircle {
    -fx-fill: green;
    -fx-stroke: green;
}
